In [1]:
from blazingsql import BlazingContext
# start up BlazingSQL
bc = BlazingContext()

BlazingContext ready

In [2]:
import os
# identify path to data
path = os.getcwd()
path = path + '/data/churn.csv'
path

'/home/winston/silent-disco/data/churn.csv'

In [3]:
# tag column names
col_names = ['luxury_car_user', 'trips_in_first_30_days', 'avg_dist',
             'avg_rating_by_driver', 'avg_rating_of_driver', 'surge_pct', 'weekday_pct']
# read in luxury_car_user as default (str) 
bc.create_table('tf_bool', path, names=col_names,
                true_values=['Yes'], false_values=['No', 'N/a'],
                skiprows=249, nrows=850)

# how's it look?
bc.sql('''
       select 
           luxury_car_user, trips_in_first_30_days, avg_dist, 
           avg_rating_by_driver + avg_rating_of_driver AS sum_rating, 
           surge_pct, weekday_pct 
       from 
           tf_bool
       ''').head()

,luxury_car_user,trips_in_first_30_days,avg_dist,sum_rating,surge_pct,weekday_pct
0,1,1,1.82,8.5,0.0,100.0
1,0,1,8.74,null,0.0,100.0
2,0,4,1.53,9.5,0.0,0.0
3,1,0,1.80,10.0,0.0,100.0
4,1,1,12.49,9.0,0.0,25.0

In [4]:
# read in luxury_car_user as int bool                                                       
col_types = ['int', 'int', 'float', 'float', 'float', 'float', 'float']
bc.create_table('int_bool', path, 
                dtype=col_types, names=col_names,
                true_values=['Yes'], false_values=['No', 'N/a'],
                skiprows=249, nrows=850)

# how's it look?
bc.sql('''
       select 
           luxury_car_user, trips_in_first_30_days, avg_dist, 
           avg_rating_by_driver + avg_rating_of_driver AS sum_rating, 
           surge_pct, weekday_pct 
       from 
           int_bool
       ''').head()

,luxury_car_user,trips_in_first_30_days,avg_dist,sum_rating,surge_pct,weekday_pct
0,1,1,1.82,8.5,0.0,100.0
1,0,1,8.74,null,0.0,100.0
2,0,4,1.53,9.5,0.0,0.0
3,1,0,1.80,10.0,0.0,100.0
4,1,1,12.49,9.0,0.0,25.0