In [1]:
import os
# identify current working directory
cwd = os.getcwd()
# add relative path to data for full path
data_path = cwd+ '/data/taxi_sample.csv'

In [2]:
from blazingsql import BlazingContext
# connect to BlazingSQL
bc = BlazingContext()

BlazingContext ready

In [3]:
# create base table
bc.create_table('taxi', data_path, header=0)

In [4]:
# calculate cost/rider, $type-rateid & vndr-id + flag
query = '''
        select 
            total_amount / passenger_count AS cost_per_rider, 
            payment_type || '-' || RateCodeID AS payment_id,
            VendorID || store_and_fwd_flag AS vendor_flag
        from 
            taxi
            '''
# run query 
gdf = bc.sql(query)
# how's it look?
gdf.to_pandas().sample(20)

      cost_per_rider payment_id vendor_flag
4024           5.900        1-1          2N
158            4.150        2-1          2N
8239          24.000        1-1          1N
7547           5.800        2-1          1N
765            7.675        1-1          1N
9711           4.800        2-1          1N
6295          14.750        1-1          1N
1264           5.230        1-1          2N
2923           1.330        1-1          2N
5855           4.800        2-1          1N
1609           6.180        1-1          1N
7233           8.300        1-1          2N
5783           8.160        1-1          1N
2415          10.650        2-1          1N
8403           7.300        2-1          1N
6235          11.300        2-1          2N
9076           8.600        1-1          2N
1127          10.400        1-1          2N
7991          10.400        1-1          2N
7891           8.800        2-1          1N