<a href="https://colab.research.google.com/github/gumdropsteve/silent-disco/blob/master/cudf_https.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import cudf
from blazingsql import BlazingContext
# start up BlazingSQL 
bc = BlazingContext()

In [0]:
%%time
# create table from https via cuDF (Open Data 500 Companies by BRANDON GADOCI)
bc.create_table('us_500', cudf.read_csv('https://query.data.world/s/rk75ncq6s7s4gykc2h3mxf5yxc64hz'))

# query table 
bc.sql('select * from us_500')

In [0]:
%%time
# create table from https via cuDF (Cryptocurrency Price by Day/Hr (2013 - 2018) (w/Bitcoin) by CHASE WILLDEN)
bc.create_table('crypto', cudf.read_csv('https://query.data.world/s/2mtilbhnxmxvzdgkn4l32ivxc44ylb'))

# query table 
bc.sql('select * from crypto')