In [1]:
from blazingsql import BlazingContext
# start up BlazingSQL
bc = BlazingContext()

BlazingContext ready

### Average Runtime
- query `bsql_logs` for avg runtime info

In [2]:
# This query against the logs will tell you the average execution time for every query.
log_query = """
            SELECT 
                MAX(end_time) AS end_time, SUM(query_duration)/COUNT(query_duration) AS avg_time,
                MIN(query_duration) AS min_time, MAX(query_duration) AS max_time, COUNT(query_duration) AS num_times, 
                relational_algebra 
            FROM (
                SELECT
                    times.end_time as end_time, times.query_id, times.avg_time,
                    times.max_time as query_duration, times.min_time, ral.relational_algebra as relational_algebra
                FROM (
                    SELECT
                        query_id, MAX(log_time) AS end_time, SUM(duration)/COUNT(duration) AS avg_time,
                        MIN(duration) AS min_time, MAX(duration) AS max_time
                    FROM
                        bsql_logs
                    WHERE
                        info = 'Query Execution Done'
                    GROUP BY
                        query_id ) AS times
                INNER JOIN (
                    SELECT
                        query_id, 
                        SUBSTRING(info, 13, 2000) AS relational_algebra
                    FROM
                        bsql_logs
                        WHERE
                            info LIKE 'Query Start%'
                        GROUP BY
                            query_id, info ) AS ral
                    ON
                        times.query_id = ral.query_id
                ORDER BY
                    times.end_time DESC) AS temp GROUP BY relational_algebra 
                    """

# run query & display DataFrame 
bc.log(log_query).head()

,end_time,avg_time,min_time,max_time,num_times,relational_algebra
0,2020-01-15 22:56:19,6.754820,2.344108,11.666229,3,"LogicalTableScan(table=[[main, test]])\n"
1,2020-01-15 22:54:58,536.513916,0.085415,5229.581055,12,"LogicalTableScan(table=[[main, data_01]])\n"
2,2020-01-15 19:03:57,2.122026,2.122026,2.122026,1,LogicalSort(fetch=[4])\n LogicalTableScan(tab...
3,2020-01-15 19:03:57,2072.648438,1967.218994,2173.004883,4,"LogicalSort(sort0=[$0], sort1=[$1], dir0=[ASC]..."
4,2020-01-15 19:03:52,1576.791382,1424.966064,1644.778320,4,"LogicalSort(sort0=[$1], dir0=[DESC])\n Logica..."

### Runtime info & utilizing cuDF results
- have some fun with cuDF methods 
  - note: BlazingSQL query results return as cuDF DataFrames, and can therefore easily make use of cuDF methods

In [3]:
# determine data load time & total time for all queries, showing the latest ones first
log_query = """
            SELECT
                query_id, 
                MAX(load_time) AS load_time, 
                MAX(end_time) as end_time, 
                MAX(total_time) AS total_time 
            FROM (
                SELECT 
                    query_id, 
                    MAX(log_time) AS end_time,
                    SUM(CASE WHEN info = 'evaluate_split_query load_data' THEN duration ELSE 0 END) AS load_time,
                    SUM(CASE WHEN info = 'Query Execution Done' THEN duration ELSE 0 END) AS total_time
                FROM 
                    bsql_logs
                WHERE 
                    info = 'evaluate_split_query load_data' 
                    OR info = 'Query Execution Done'
                GROUP BY 
                    query_id 
                )
            GROUP BY
                query_id
            ORDER BY
                end_time DESC
                """

# save results to parquet w/ cuDF .to_csv() 
bc.log(log_query).to_csv('bsql_log.csv', index=False)

# share discription of results
print(bc.log(log_query).describe())

# let's see a sample w/ .sample() via cuDF .to_pandas()
bc.log(log_query).to_pandas().sample(5)

           query_id    load_time   total_time
count     69.000000    69.000000    69.000000
mean   34993.333333  1507.703099  1548.779398
std    18056.364342  1661.477406  1689.282847
min     2616.000000     0.016491     0.085415
25%    20938.000000   110.484383   110.579941
50%    33518.000000  1590.229248  1612.646729
75%    53353.000000  2083.197021  2173.004883
max    63407.000000  9547.194336  9692.882812

    query_id    load_time            end_time   total_time
8      15006    11.568606 2020-01-15 22:56:19    11.666229
52     58125  1402.170288 2020-01-15 19:03:41  1424.966064
57     36746  2048.277100 2020-01-15 19:03:33  2138.577637
12     20341   135.613464 2020-01-15 22:48:18   135.726379
50     38127  1311.569702 2020-01-15 19:03:44  1330.426514